.logosec
    .logo Football360
        img.icn.menuicn#menuicn(src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png", alt="menu-icon")
    .searchbar
        input(type="text", placeholder="Search")
        .searchbtn
            img.icn.srchicn(src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png", alt="search-icon")
    .message
        .circle
        img.icn(src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/8.png", alt)
        .dp
            img.dpicn(src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png", alt="dp")