aside.sidebar
    .sidebar-header
        h2 Admin
    nav.sidebar-nav
        ul
        li
            a(href='#') Dashboard
        li
            a(href='#') Users
        li
            a(href='#') Settings
        li
            a(href='#') Profile
        li
            a(href='#') Messages
        li
            a(href='#') Notifications
        li
            a(href='#') Analytics
        li
            a(href='#') Reports
        li
            a(href='#') Integrations
        li
            a(href='#') Help
        li
            a(href='#') Analytics
        li
            a(href='#') Reports
        li
            a(href='#') Integrations
        li
            a(href='#') Help
        li
            a(href='#') Logout