/* public/css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form {
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form .form-group {
    margin-bottom: 10px;
  }
  
  .login-form .input-label {
    display: inline-block;
    width: 80px; /* Adjust width as needed */
    text-align: right;
    margin-right: 10px;
  }
  
  .login-form .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    flex-grow: 1;
  }
  
  .login-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
  
  .login-form p {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .login-form a {
    color: #1e90ff;
    text-decoration: none;
  }
  